.table {
    background-color: grey;
    color: whitesmoke;
    width: 100%;
}

.table td,th {
    padding: 10px;
    text-align: center;
    vertical-align: unset;
    text-transform: uppercase;
    /* width: 100%; */
}